/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
public/build
.DS_Store
.idea
npm-debug.log

public/css
public/fonts
public/js
public/upload/images
public/upload/files
resources/assets/css/app.css*
gc-credentials.json
storage/glide/.cache
public/packages
public/upload/.tmb
